body {
  font-family: "Open Sans Condensed", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* En-tête */
header {
  background-color: #2e7d32;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 1.5em;
  position: relative;
  overflow: hidden;
}

h1 {
  font-family: Playfair Display;
}
.lettre_A_E {
  font-size: 1.5em;
}

/* Barre de navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #388e3c;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
  transition: background 0.3s;
}

nav ul li a:hover {
  background-color: #1b5e20;
  border-radius: 5px;
}

/* Bouton de changement de langue */
.language-toggle {
  background-color: #ffffff;
  color: #2e7d32;
  border: 2px solid #2e7d32;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 15px;
}

.language-toggle:hover {
  background-color: #2e7d32;
  color: white;
}

/* Contenu principal */
main {
  display: grid;
  max-width: 900px;
  margin: 20px auto;
  gap: 20px;
}

article {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#container-photos {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
#container-photos p {
  margin-left: 30px;
}
.image {
  height: 200px;
  width: 200px;
  border: 1px solid #000;
  border-radius: 5px;
  align-items: center;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#row1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#row2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#row3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#image1 {
  background: url(./photos/seoul3.png) center/cover;
}

#image2 {
  background: url(./photos/seoul4.png) center/cover;
}

#image3 {
  background: url(./photos/seoul5.png) center/cover;
}

#image4 {
  background: url(./photos/anglet.JPG) center/cover;
}

#image5 {
  background: url(./photos/anglet2.JPG) center/cover;
}
#image6 {
  background: url(./photos/nature1.JPG) center/cover;
}

#image7 {
  background: url(./photos/nature2.JPG) center/cover;
}

#image8 {
  background: url(./photos/nature3.JPG) center/cover;
}

#image9 {
  background: url(./photos/nature4.JPG) center/cover;
}

/* Pied de page */
footer {
  background-color: #2e7d32;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
